<div class="container">
    <div class="chat"> 
        <div class="chat_left-column">

            <div class="chat_left-column_header">
                <div class="chat_left-column_header-profile">

                    {{{ AddChatLink }}}
                    {{{ ProfileLink }}}
                    
                </div>
                <div class="mx-2"></div>

                {{{ ChatSearch }}}
                
            </div>

            <div class="mx-2"></div>

            <div class="chat_left-column_items">

                {{#each Chats}}
                    {{{this}}}
                {{/each}}

            </div>
        </div>

        <!-- Подгрузка сообщений происходит в файле index.js -->
        <div class="chat_right-column chat-block">
            
            {{{ Chat }}} 

        </div>

    </div>

    {{{ Modal }}}
</div>
