<div class="container">

    <div class="profile">
        
        <div class="profile_left">
            {{{ PrevButton }}} 
        </div>

        <div class="profile_right">
            <div class="profile_right_info">
                
                <div class="profile_right_info_header">
                    {{{ ChangeAvatar }}}

                    <div class="profile_right_info_header_name mx-2">
                        {{ name }}
                    </div>

                </div>

                <div class="profile_right_info_data mb-4">
                    {{{ ProfileData }}}
                </div>
                
                <div class="profile_right_info_actions">
                    <ul>
                        <li>{{{ EditProfile }}}</li>
                        <li>{{{ EditPassword }}}</li>
                        <li>{{{ Logout }}}</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</div>  
