

<div class="input-group {{parentClassName}} {{#if error}}error{{/if}}">
    
    {{#if label}}
        <label for="{{name}}" class="label">{{label}}</label>
    {{/if}}
    
    {{{ Input }}}

    {{#if error}}
        <div class="error-text">{{error}}</div>
    {{/if}}

</div>
