
<div class="chat_left-column_items_item {{# if active}}active{{/if}}">
    <div class="chat_left-column_items_item_avatar">
        <img src="{{#if avatar}}{{avatar}}{{else}}https://cs6.pikabu.ru/avatars/1121/x1121129-2144512139.png{{/if}}" alt="{{name}}">
    </div>
    <div class="chat_left-column_items_item_info">
        <div class="chat_left-column_items_item_info_name">
            {{ title }}
        </div>

        <div class="chat_left-column_items_item_info_message">

            {{#if isActive}}
                <span class="chat_left-column_items_item_info_my-message">Вы:</span>
            {{/if}}
            {{!-- {{Substr message end=70}} --}}
        </div>
    </div>

    <div class="chat_left-column_items_item_right">
        <div class="chat_left-column_items_item_right_date">
            {{lastMessageTime}}
        </div>

        <div class="chat_left-column_items_item_right_badge">
            {{#if badge}}
                <span>{{badge}}</span>
            {{/if}}
        </div>
    </div>
</div>
