 <ul>
    <li>
        <div class="profile_right_info_data_field-name">
            Почта
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ email }}}
        </div> 
    </li>
    <li>
        <div class="profile_right_info_data_field-name">
            Логин
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ login }}}
        </div> 
    </li>
    <li>
        <div class="profile_right_info_data_field-name">
            Имя
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ name }}}
        </div> 
    </li>
    <li>
        <div class="profile_right_info_data_field-name">
            Фамилия
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ first_name }}}
        </div> 
    </li>
    <li>
        <div class="profile_right_info_data_field-name">
            Имя в чате
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ nickname }}}
        </div> 
    </li>
    <li>
        <div class="profile_right_info_data_field-name">
            Телефон
        </div>
        <div class="profile_right_info_data_field-value">
            {{{ phone }}}
        </div> 
    </li>
</ul>
